{% extends "site/index.njk" %}

{% block content %}
    {# {% include "site/templates/page-form.njk" %} #}
    <div id="page-content" class="container">
        <div class="grid-container">
            <h1>Forgot Password?</h1>
            {% if message %}
                <p>{{message}}</p>
            {% else %}
                <form method="POST" action="/account/forgot-password/">
                    <div class="form-field">
                        <input type="text" name="email" placeholder="Email" />
                        <button type="submit" class="ui button primary">Reset Password</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}