{% extends "site/layout.njk" %}
{% block content %}
    <div id="page-content" class="container grid-container">
        <h1>Contact us</h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}