{% import "merchants/templates/repeats.njk" as forms %}
<div class="ui segment secondary blue">{% include "merchants/templates/products/pocket-watches/basic.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/description.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/case.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/dial.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/strap.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/caliber.njk" %}</div>
{# <div class="ui segment">{% include "merchants/templates/products/pocket-watches/other.njk" %}</div> #}
<div class="ui segment">{% include "merchants/templates/products/pocket-watches/conditions.njk" %}</div>
