{# Simple message clone template #}
<div class="ui mini message clone simple">
    <i class="close icon"></i>
    <div class="header inline">Unknown error.</div>
    <div class="list">   <p>We are not sure what went wrong, if you was doing something, please try again or contact us.</p></div>
</div>