<ul class="tabs">
    <li><a href="#basic">Details</a></li>
    <li><a href="#case">Case</a></li>
    <li><a href="#dial">Dial</a></li>
    <li><a href="#strap">Strap</a></li>
    <li><a href="#caliber">Caliber</a></li>
</ul>
<div>
    <div class="partial" id="basic" >{% include "./basic_info.njk" %}</div>
    <div class="partial" id="case" >{% include "./case.njk" %}</div>
    <div class="partial" id="dial" >{% include "./dial.njk" %}</div>
    <div class="partial" id="strap" >{% include "./strap.njk" %}</div>
    <div class="partial" id="caliber" >{% include "./caliber.njk" %}</div>
</div>