@import '/css/single-watch.css'
#upper-product
    margin-bottom 50px
    h1
        font-size 1.875em
        text-transform none
.partial
    margin-bottom 60px
    &:last-child
        margin-bottom 0
    .product-info
        // display none
        > li
            border-bottom 1px solid #a7a7a7
            padding 20px 0
            strong,span
                width 50%
                float left
                display block
            strong
                padding-right 20px
    &:first-child
        .product-info
            display block
.sub-title
    border-bottom 1px solid #a7a7a7
    padding-bottom 30px
.product-price
    font-size 1.875em
    display block
.left-product-content
    padding-right 15px
.right-product-content
    padding-left 15px
#seller-info
    background #fff
    margin-top 65px
#seller-info,#related-products
    padding 65px 0
#seller-contact-details
    h5
        margin-bottom 10px
        font-size 1.250em
        text-transform none
        font-weight 400
    p,ul
        font-size 1.250em
        font-weight 300
        margin-bottom 30px
    ul
        > li
            margin-bottom 30px
            &:last-child
                margin-bottom 0
        &.contact-info
            > li
                margin-bottom 0
                line-height 1.61em;
#quick-seller-info
    margin-top 30px
    float left
    h5
        margin-bottom 20px
        font-size 0.875em
    p
        font-size 1.250em
        border-bottom 1px solid #a7a7a7
        margin-bottom 35px
        padding-bottom 35px
#primary-product-image
    background #fff
    box-shadow 1px 1px 6px 4px rgba(0,1,1,0.06)
    padding 50px
#single-images
    > li
        img
            box-shadow 1px 1px 6px 4px rgba(0,1,1,0.06)
.single-product
    h2
        font-size 1.3em
        text-transform none
#product-description
    p
        font-size 1.25em
        font-weight 300