{% extends "./layout.njk" %}
{% block css %}<link rel="stylesheet" type="text/css" href="/public/assets/management/css/brands.css">{% endblock %}
{% block content %}
    <div class="ui menu">
        <div class="item">
            <h1>Your Brands</h1>
        </div>
        {# <form method="post" id="search-form" action="/" class="ui form item"> #}
            {# {{ forms.input('search', label=false, class="ui icon input", icon="search") }} #}
        {# </form> #}
        <div class="item right">
            <a href="./new/" class="ui button primary">Add Brand</a>
        </div>
    </div>
    <div class="ui block clearfix">
        <div class="ui cards">
            {% set brands = Stores.Data.Brands.data %}
            {% for brand in brands %}
                <a class="ui card" href="./{{ brand.id }}/">
                    <div class="ui image fluid raised">
                        <img src="{{ brand.image.src or Site.noPhoto }}" />
                    </div>
                    <div class="content">
                        <div class="header">{{ brand.title }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}