{% import "merchants/templates/repeats.njk" as forms %}
<div class="ui segment secondary blue">{% include "merchants/templates/products/watches/basic.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/watches/description.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/watches/case.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/watches/dial.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/watches/strap.njk" %}</div>
<div class="ui segment">{% include "merchants/templates/products/watches/caliber.njk" %}</div>
{# <div class="ui segment">{% include "merchants/templates/products/watches/other.njk" %}</div> #}
<div class="ui segment">{% include "merchants/templates/products/watches/conditions.njk" %}</div>
