<header id="header">
    {% block header %}
        <div class="main cf">
            <h1 id="logo"><a href="/merchants/"></a></h1>
            <nav>
                <ul id="menu" class="ibw">
                    <li class="item"><a href="/merchants/"><i class="icon-home"></i></a></li>
                    <li class="item"><a href="#" class="notifications"><i class="icon-comment"></i><i class="number">0</i></a></li>
                    <li class="item"><a href="/logout"><i class="icon icon-off"></i></a></li>
                </ul>
            </nav>
        </div>
    {% endblock %}
</header>