<div id="theNotifications" class="ui notifications vertical menu mmSideBar" style="z-index: 3;">
    <div class="ui basic segment">
        <h2 class="ui left floated header">Notifications </h2>
        <a class="ui right floated mini button clearAll">Clear All</a>
    </div>
    <div class="list ui basic clearing segment" style="clear: both;"></div>
</div>