<form   id="upper-page-image"
        class="form cover-bg"
        style="background:url(/public/assets/site/images/header-image.jpg) no-repeat center center fixed;"
        action="/"
        >
    <div id="upper-search-form" class="clearfix grid-container">
        <div class="clearfix">
            <div class="grid-80 tablet-grid-75 mobile-no-padding no-padding-left form-field">
                <input name="s" placeholder="Rolex yacht master" />
            </div>
            <div class="grid-20 tablet-grid-25 mobile-no-padding no-padding-right">
                <button class="btn-submit large-btn black-btn btn">Search</button>
            </div>
        </div>
    </div>
</form>