<h2>Sell your products on Pre2000</h2>
<ul>
    <li><strong>Very easy to manage your products</strong>
        <br /><em>Manage your products with user friendly interfaces even for the less savvy.</em>
    </li>
</ul>
<a href="/account/register/merchant/" class="btn large-btn black-btn float left">
    Sell your product now!
</a>
<span class="clear"></span>
<hr>

<div>
    <h2>Sell your product quick and easy</h2>
    <ul>
        <li>
            <strong>Add product</strong><br />
            <em>You can add a product in a few seconds from your merchant section.</em>
        </li>

        <li>
            <strong>Receive Offers</strong><br />
            <em>Establish a contact with interested buyers.</em>
        </li>

        <li>
            <strong>Complete sell</strong><br />
            <em>Arrange payment and shipment with buyer directly.</em>
        </li>
    </ul>
</div>