<h1>Terms & Conditions</h1>
<ol>
    <li>
        <ol>
            <li>Chrono24 GmbH, Haid-und-Neu-Str. 18, D-76131 Karlsruhe, Germany (hereinafter “Chrono24”) is the operator of Chrono24 online marketplace for quality jewelry (hereinafter “platform”). The following “general platform terms and conditions” apply to the free use of the platform.</li>
            <li>The general platform terms and conditions can be downloaded and printed in the current version at https://www.finejewels24.com/en/info/agb for the duration of the agreement.</li>
        </ol>
    </li>
    <li>
        <h2>Contract</h2>
        Sending the online registration represents a legally binding offer to form a contract with Pre2000.
    </li>
    <li>
        <h2>Service Description</h2>
        <ol>
            <li>Pre2000 offers registered users the technical possibility of contacting sellers via the platform (section 5).</li>
            <li>Pre2000 Itself does not offer items for sale on the platform. Sellers’ ads retrievable on the platform do not represent any legally binding offer of sale to enter a purchase agreement, but are merely a non-binding invitation to the provider to submit offers of sale.</li>
            <li>Any contractual relationship will be formed exclusively between the seller and the user. The fulfilment of contracts initiated on the platform shall also take place exclusively between the seller and the user.</li>
        </ol>
    </li>
    <li>
        <h2>Registration, User Account and User Information</h2>
        <ol>
            <li>Registration is only allowed for persons of unlimited legal capacity. Minors in particular may not register. </li>
            <li>A current e-mail address and a password are required to register. The e-mail address and the password also serve as login details. Only one user account can be created with the same e-mail address. The e-mail address is also used for communication with Pre2000 and is essential for all contractually relevant correspondence between Pre2000 and the user.</li>
            <li>The password is confidential and care must be taken to ensure that access to the user account is secure. Users are obliged to notify Pre2000 immediately if there are signs that a user account has been misused by third parties.</li>
            <li>The user account is strictly personal. The user is not entitled without the express consent of Pre2000 to transfer the profile to a third party. Neither is the user entitled without the express consent of Pre2000 to enable third parties to access his/her user account using his/her login details.</li>
            <li>The user shall in principal be liable for all activities that take place while using his/her user account. The user shall not be liable if he/she is not responsible for the misuse of his/her user account because there is no breach of the existing duty of care.</li>
        </ol>
    </li>
    <li>
        <h2>Use of the Platform </h2>
        <ol>
            <li>Pre2000 provides free functions to registered users, which facilitate use of the platform, particularly the search for offers, and management of user accounts. Registered users can also enjoy improved communication with providers. </li>
            <li>Pre2000 may change the use of the platform, or individual functions, or the scope in which individual functions can be used at any time.</li>
            <li>Registration is free of charge.</li>
        </ol>
    </li>
    <li>
        <h2>General User Obligations</h2>
        <ol>
            <li>The user must refrain from any activity aimed at disrupting the operational aspects and technical infrastructure of the platform and/or overloading it. This particularly includes:
                <br/>the use of software, scripts or databases in connection with the use of the platform;
                <br/>automatic reading, blocking, overwriting, modification, copying of data and/or other content unless essential for proper use of the platform;
                <br/>distribution and/or public display of any content from the platform without the approval of Pre2000.
            </li>
            <li>Users may search for commercial offers on the platform solely by means of the search forms provided by Pre2000. Avoiding the search forms, particularly by using automated search software to access Pre2000 databases, is not permitted when searching for offers.</li>
            <li>Data and contents obtained or made accessible to the user through search queries or using the platform may not be used in full, in part or as extracts to establish a personal database in whatever media format and/or for commercial utilisation of data or to supply information and/or for any other commercial use</li>
            <li>The user may not use the platform to send any messages with advertising content without the approval of the recipient (particularly spam).</li>
            <li>The user shall notify Pre2000 without delay if any disruption occurs while using the platform or its functions. The same shall also apply if the user finds out that commercial offers or contents published by third parties clearly infringe prevailing law or third-party rights.</li>
        </ol>
    </li>
    <li>
        <h2>Term of Contract, Termination, Blocking</h2>
        <ol>
            <li>The visitor agreement is for an indefinite period and can be terminated with immediate effect at any time.</li>
            <li>The right of the parties to end the contractual relationship by means of extraordinary termination for good cause remains unaffected. A good cause for Pre2000 to terminate this agreement without notice is if the user persistently infringes his/her duties as stipulated in clauses 4.3, 4.4, 6.8, 6.9 or 6.10 of this agreement.</li>
            <li>In the event of a good cause that allows termination without notice, Pre2000 may at its discretion deny access to the user account instead of termination. Pre2000 may also block access if the user has not used his/her login details for a period of at least one year. </li>
            <li>Termination will result in the user not having access to his/her user account.</li>
            <li>Termination by Pre2000 shall be deemed valid, amongst other things, if the user is duly notified at the e-mail address that he/she has provided. Terminations by the user must be given in writing or by using the relevant function to delete the user account on the platform.</li>
        </ol>
    </li>
    <li>
        <h2>Warranty and Liability</h2>
        <ol>
            <li>Pre2000 strives to provide and operate a non-disruptive and durable platform. This is naturally restricted to services over which Pre2000 has an influence. The user however acknowledges that full, uninterrupted platform availability is not technically feasible. Pre2000 is particularly at liberty to restrict access to the platform in full or in part, on a temporary or long-term basis, due to maintenance work, capacity considerations and due to other events outside the power of Pre2000.</li>
            <li>Pre2000 does not in principal pre-check the contents and commercial offers posted on the platform. Pre2000 cannot therefore give an assurance that the information and commercial offers posted on the platform are correct, accurate, reliable, up-to-date, applicable and/or complete. There is no claim either that the contents and commercial offers as posted are free from defects.</li>
            <li>Pre2000 is not liable in the case of an ordinary negligent infringement of obligations, which are not material obligations, whose initial fulfilment enables the due performance of the agreement and compliance with which the user may regularly depend upon.</li>
            <li>Liability is excluded to the extent permitted by law for ordinary negligence of duty affecting the availability of the platform or its contents.</li>
            <li>The above liability restrictions apply analogously in the case of damage caused by authorised agents, particularly partners. Pre2000 is not liable for the actions of users or other third parties. Neither do such third parties act as vicarious agents for Pre2000. Liability for indirect and consequential damages is – to the extent permitted by law – excluded.</li>
            <li>The liability of Pre2000 for malicious intent, gross negligence, personal injury and pursuant to statutory regulations remains unaffected by the above liability restrictions. </li>
        </ol>
    </li>
    <li>
        <h2>Data Protection</h2>
        Data protection is subject to Pre2000’s  Data Privacy Policy.
    </li>
    <li>
        <h2>Right of Indemnity</h2>
        <ol>
            <li>The user shall hold Pre2000 and its staff and/or appointees harmless from all third-party claims in the event that a claim is asserted on account of purported or actual legal infringements and/or infringement of third-party rights in connection with use of the platform or services of Pre2000 by the user.</li>
            <li>The user shall undertake to reimburse Pre2000 all potential costs arising from a third-party claim. Reimbursable costs shall also include the costs of appropriate litigation and legal defence, which Pre2000 would incur to defend itself from third-party claims. In this case Pre2000 shall notify the affected user without delay of the legal defence measures to be taken.</li>
        </ol>
    </li>
    <li>
        <h2>Final Provisions</h2>
        <ol>
            <li>If one or more provisions of the contractual provisions are or become inapplicable, this shall not otherwise affect the applicability of the other provisions.</li>
            <li>The law of the England and Wales applies. </li>
            <li>Pre2000 shall notify the user in written form of any amendments to these provisions without the individual amended provisions or the new version of the provisions in its entirety having to be sent or otherwise communicated; it shall be sufficient to notify the user that an amendment has been made and to provide a link to the amended General Terms and Conditions. If the user fails to object to the amendment in written form within 14 days of being informed of such, the amendment shall be deemed to have been accepted; Pre2000 shall make reference to this fact in its notifications of amendment.</li>
            <li>Pre2000 is entitled to transfer this visitor agreement, including all additional agreements with all right and obligations, to a company of its choice. In the event that this agreement is transferred to another company, the user shall have a special right of termination, which must be asserted in writing within 14 days of notification by Pre2000. In this notification Pre2000 shall refer separately to the significance of the user's action.</li>
            <li>The place of jurisdiction for all disputes arising from and in connection with this contract, irrespective of the legal grounds, is – if and to the extent that the user is a merchant.</li>
        </ol>
    </li>
</ol>