<div>
    <h3 class="ui header">Describe Your Watch *</h3>
    <div class="">
        {{ forms.textarea('product[description]', value=products.description, label="For example, where did you buy your watch?   Does it still have a warranty?   Has it been repaired?   Is the watch damaged?", class="full-width grid-100", inputClass="autogrow") }}
    </div>
</div>